<h1>Dispatch</h1>

<table>
  <tr>
    <th>Group</th>
    <th>Dispatcher</th>
  </tr>


<% @groups.each do |group| %>
  <tr>
    <td><%= group.shortname %></td>

	<% if group.dispatcher %>
		<td><%= group.dispatcher.name %>, <%= tel_to group.dispatcher.phone %>, <%= mail_to group.dispatcher.email %><br/>
		<em>last updated: <%= time_ago_in_words(group.dispatcher.updated_at) %> ago.</em></td>
	    <td><%= link_to 'Close Dispatch', group_close_path(group), :confirm => "Close #{group.shortname} dispatch?", :method => :put %></td>
	<% else %>
		Dispatch is closed.
		<td><%= link_to 'Open Dispatch', new_group_dispatcher_path(group) %></td>
	    
	<% end %>
  </tr>
<% end %>
</table>

<br />
<h2>Active Missions<h2/>
	
<% @missions.each do |mission| %>
	<h2><%= mission.status %> - <%= mission.location %></h2>
	<p><%= mission.information %></p>
<% end %>

