<h1>Listing missions</h1>

<table>

<% @missions.each do |mission| %>
  <tr>
    <td><b>Location:</b> <%= mission.location %><br/>
		<b>Created:</b> <%= mission.created_at %><br/>
		<b>Last Updated:</b> <%= time_ago_in_words(mission.updated_at) %> ago<br/>
		<b>Status:</b> <%= mission.status %></td>
    <td><%= simple_format(mission.information) %></td>
    <td><%= link_to 'Edit', edit_mission_path(mission) %></td>
    <td><%= link_to 'Destroy', mission, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mission', new_mission_path %>
